.container{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    width:170px;
    height:30px;
    outline: none;
}
.containerFocus{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #0f9f58 !important;
    border-radius: 2px;
    width:170px;
    height:30px;
    outline: none;
}
.contentCl{
    width:100%;
    box-sizing: border-box;
    border: none;
    text-align: left;
    text-indent: 14px;
    position: relative;
    background: #FFFFFF;
    border-radius: 2px;
    font-size: 12px;
    display: inline-block;
    float: left;
    height:100%;
    vertical-align: middle;
}

.contentCl:hover{

    cursor: pointer;
}

.childCon{
    display: none;
    position: absolute;
    top: 150%;
    left:-1px;
    z-index:100;
    width:100%;


}
.place{
    color:rgba(0,0,0,0.54)
}
.downIcon{

    position: absolute;
    right: 5px;
    top: 45%;
    width: 10px;
}

.childCl{

    width:100%;
    max-height:200px;
    background-color: #ffffff;
    overflow: auto;
    line-height: 26px;
    border: 1px solid #0f9f58;
    border-radius: 2px;
}
.childClNone{
    width:100%;
    max-height:200px;
    background-color: #ffffff;
    overflow: auto;
    line-height: 26px;
    border-radius: 2px;
}

.itemLi:hover{

    color: #0f9f58;
    cursor: pointer;
    background-color:#E5ECEF;
}
/*.Input {*/
    /*outline:none;*/
    /*border:0;*/
    /*width:100%;*/
/*}*/
/*input[disabled],input:disabled{*/
    /*color:#333333;*/
/*}*/