
.box{
    position: relative;
    width:100%;
    margin-top: 80px;
}

.contentBox{
    float: right;
    width: calc(100% - 150px);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
