@charset "utf-8";
/* CSS Document */
* { 
	margin:0px; 
	padding:0px;
}
html, body{	
	height:100%;
	overflow: hidden;
	font-size:14px;
	background:url(dlbg2.jpg) no-repeat center top;

}
html>body{		/*-- for !IE6.0 --*/
	width: auto;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background:url(dlbg2.jpg) no-repeat center top;
	
}
body {
	border:0px solid #ffffff;
	background-color: #ffffff;min-width:230px;
	background:url(dlbg2.jpg) no-repeat center top;
}

.top2{ behavior: url(js/ie-css3.htc); position:relative;z-index:99999;}

#mainDiv {
	width: 100%;
	height: 100%;
    padding:60px 0px 25px 0px;;
	margin-top:20px;
	overflow:hidden;
	
}
#centerDiv{
	width: 100%;
	height: 100%;
	padding-left:0px;
	overflow:hidden;
	margin-bottom:10px;
}
#mainDiv>#centerDiv{		/*-- for !IE6.0 --*/	
	width: auto;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	
}
#left{
width:280px;background:#3d517e;font-size:16px; min-height:830px; float:left;overflow:hidden; 
position:absolute;
left:0px;
}
#lhead{
background:url(left-head.jpg) left top no-repeat;
height:25px;
	font-size:14px;
	color:#FF9933;
    text-align:center;
	line-height:25px;
}
#right{
width:100%;
height:100%;
background:#ffffff;
position:absolute;
overflow-y:auto;
font-size:12px;
font-family:"宋体";
padding:8px;
background:#cfd9e8;
}
#centerDiv>#right{
width:auto;
height:auto;
position:absolute;
top:0px;
right:0px;
left:0px;
bottom:0px;
}

.top2{ background:url(topbg.png); height:80px;margin:10px;}
.top2 .logolm{ width:236px; height:41px; float:left;margin: 21px 0 0 20px;border:0;}
.top2 .tell{ width:146px; height:20px; float:left;margin:30px 0 0 20px;}
#goout{ height:30px; border:none; background:url(nytb3.png) no-repeat left #8897b4; text-align:center; line-height:30px; font-size:12px;color:#fff;margin:25px 20px 0 0;font-family:"微软雅黑","宋体"; float: right; padding:0 0px 0 24px;width:90px;}
#goout:focus{ background:#e2778e url(nytb3.png) no-repeat left;}
#goout:hover{ background:#e2778e url(nytb3.png) no-repeat left;}
#home{  height:30px; border:none;background:#8897b4 url(nytb2.png) no-repeat left; text-align:center; line-height:30px; font-size:12px;color:#fff;margin:25px 10px 0 0;font-family:"微软雅黑","宋体"; float: right;padding:0 0px 0 24px;width:90px;}
#home:focus{ background:url(nytb2.png) no-repeat left #e2778e;}
#home:hover{ background:#e2778e url(nytb2.png) no-repeat left;}
.yonghu{ height:28px; border:1px solid #a2b0c9;background:#d9e0ed url(nytb1.jpg) no-repeat left; text-align:center; font:12px "微软雅黑", "方正大标宋简体";color:#333333;margin:25px 10px 0 0;font-family:"微软雅黑","宋体"; float: right;text-transform:capitalize;width:108px;display:block;line-height:28px; }
.yonghu input{background:none;border:0;margin:0 1px 0 0px;}
.top2 .jszc a{ font:12px "微软雅黑", "方正大标宋简体"; color:#333;margin:25px 10px 0 0; float:right;width:60px;height:28px;border:1px solid #9facc6; text-decoration:none;text-align:center;background:#dae1ed;line-height:28px;}
.top2 .jszc a:hover{ color:#3d517e;}

#tmenu{
width:100%;
position:absolute;
left:12%;
bottom:0;
padding-left:15%;
margin-left:-15%;
}
#current{
background:#d2d2d2;
height:50px;
overflow:hidden;
font:16px "微软雅黑", "方正大标宋简体";
color:#fff;
line-height:50px;
}
#current a{color:#d69898;}
#bottomDiv{
	width:100%;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#DB0F1F;
	text-align:right;
	background:url(bottom.jpg) repeat-x;
	position:absolute;
	bottom:0px;
	bottom:-1px;		 /*-- for IE6.0 --*/
	padding:0 30px 0 0;
}


#left{width:254px;background:#3d517e;font-size:16px; float:left;height:100%;min-height:400px;border:3px solid #d1dae7;margin:0 10px 10px 10px; }
#left ul{width:254px;}
#left ul li{display: block;overflow:hidden;min-height:50px;background:#3d517e;width:254px;}
#left ul li a{display: block;height:50px;line-height:50px;width:254px;font-size:14px;font-family:"微软雅黑", "方正大标宋简体";color:#fff;outline: none; text-decoration:none;}
#left ul li a img{ width:22px; height:22px; float:left; margin:14px 20px;border:0;}
#left ul li a img:hover{-webkit-transform: rotate(30deg);-ms-transform: rotate(30deg);-o-transform: rotate(30deg);transform: rotate(30deg);}
#left ul li:hover{}
#left ul li .active{background:url(../images/zk1_down.png) top right no-repeat #51638b;}
#left ul li .inactive{background:url(../images/zk1_up.png)  right  center  no-repeat;}

#left ul li ul{display:none;background:#3d517e;width:254px;}
#left ul li ul li{min-height:40px;background: #51638b;border-bottom: 1px solid #4b5d86;float:left;width:234px;padding:0 10px;}
#left ul li ul li a{height:40px; width:141px;background: #51638b;line-height:40px; padding-left:53px;float:left;font-size:12px;}
#left ul li ul li :hover{}
#left ul li ul li .active{background:url(../images/zk2_down.png) top right no-repeat #51638b;}
#left ul li ul li .inactive{background:url(../images/zk2_up.png) top right no-repeat;}
#left ul li ul li ul li{max-height:35px;line-height:35px;width:220px;padding:0;}
#left ul li ul li ul li a{border:none;width:194px;padding: 0;background: #51638b; text-align:left;font-size:12px;height:35px;line-height:35px;padding-left:60px;}
#left ul li ul li ul li a:hover{background:#ec7d8c;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}






/*
#left ul.sub li a{
background:none;
display:block;
width:100%;
height:20px;
line-height:20px;
color:#30F;
direction:none;
text-align:left;
border:none;
}
*/


#left ul.sub li a.none{
float:right;
background:none;
display:block;
width:0px;
height:40px;
text-decoration:none;
padding:0;
}
#left ul.sub li a.open{
float:right;
background: url(zk2_down.png) no-repeat;
display:block;
width:28px;
height:40px;
text-decoration:none;
padding:0;

}

#left ul.sub li a.close{
float:right;
background:#51638b url(zk2_up.png) no-repeat;
display:block;
width:28px;
height:40px;
text-decoration:none;
padding:0;

}

#form{
width:100%;
height:auto;
font-size:14px;
color:#7c7b7b;


}
fieldset{
width:97%;
line-height:55px;
padding-left:20PX;
border:1px solid #dcdcdc;
padding-bottom:20px;
}
input{height:30px;border:1px solid #d2d2d2;padding-left:10px;line-height:30px;}
#sex{width:15px;height:15px;border:0;margin-top:25px;}
#fav{width:15px;height:15px;border:0;margin-top:25px;}
#select{width:300px;height:30px;margin-top:25px;color:#7c7b7b;}
#multipleselect{width:150px;height:150px;border:1px solid #d2d2d2;color:#7c7b7b;}
#WebDesign{width:150px;height:30px;border:1px solid #d2d2d2;color:#7c7b7b;}
#myimage{border:0;}
textarea{width:150px;height:30px;border:1px solid #d2d2d2;}
#submit{height:30px;background:#e7e7e7;font:14px Arial, Helvetica, sans-serif;color:#999999;border-radius:4px;margin-right:20px;padding:0 10px;}
#reset{height:30px;background:#51638b;font:14px Arial, Helvetica, sans-serif;color:#fff;border-radius:4px;padding:0 10px;}
#list a{color:#7c7b7b;font:14px "微软雅黑", "方正大标宋简体";}
#sta2{width:150px;height:30px;border:1px solid #d2d2d2;}
#action{height:30px;background:#e7e7e7;font:14px Arial, Helvetica, sans-serif;color:#999999;border-radius:4px;margin-right:20px;padding:0 10px;}
#utype0{width:150px;height:30px;border:1px solid #d2d2d2;}
input[checkbox]{height:50px;line-height:50px;}
#utype2{width:15px;height:15px;margin-top:22px;}
#utype3{width:15px;height:15px;margin-top:22px;}
#utype4{width:15px;height:15px;margin-top:22px;}
#utype5{width:15px;height:15px;margin-top:22px;}
#utype6{width:15px;height:15px;margin-top:22px;}
#utype7{width:15px;height:15px;margin-top:22px;}
#utype10{width:15px;height:15px;margin-top:22px;}
#utype11{width:15px;height:15px;margin-top:22px;}
#utype12{width:15px;height:15px;margin-top:22px;}
#utype13{width:15px;height:15px;margin-top:22px;}
#utype14{width:15px;height:15px;margin-top:22px;}
#utype15{width:15px;height:15px;margin-top:22px;}
#utype16{width:15px;height:15px;margin-top:22px;}
#utype17{width:15px;height:15px;margin-top:22px;}
#utype19{width:15px;height:15px;margin-top:22px;}
#utype20{width:15px;height:15px;margin-top:22px;}
#sta1{width:15px;height:15px;margin-top:22px;}
#sta2{width:15px;height:15px;margin-top:22px;}
#sta3{width:15px;height:15px;margin-top:22px;}
#sta4{width:15px;height:15px;margin-top:22px;}
#ifyn{width:15px;height:15px;margin-top:22px;}
#styp1{width:15px;height:15px;margin-top:22px;}
#styp2{width:15px;height:15px;margin-top:22px;}
#i1{width:15px;height:15px;margin-top:22px;}

#sortpid{width:150px;height:30px;border:1px solid #d2d2d2;margin-top:10px;}
#spage{width:150px;height:30px;border:1px solid #d2d2d2;}
#pid{width:150px;height:30px;border:1px solid #d2d2d2;}
#atxt{width:401px;height:150px;border:1px solid #d2d2d2;}
#list{font:14px "微软雅黑", "方正大标宋简体";}
#abs{color:#999;}
#atit{color:#999;}
#indt{color:#999;}
#atxt{color:#999;}
#keys{color:#999;}
.inputStyle1{height:34px;background:#e7e7e7;font:12px "宋体";color:#999999;border-radius:2px;margin-left:20px;padding:0 10px;}
label.label1{width: 93px;display: inline-block;}
label.label2{width: 143px;display: inline-block;}
#list td{margin:0;padding:0;border-spacing:0px;height:40px;line-height:40px;padding-left:10px;}
.center{width:695px;}
table{
width:100%;
margin:30px 0 0 0;
border:0;
}
table td{
border:0;
height:20px;
line-height:20px;

}
table td.icon{
	width:50px;
	text-align:center;
}
table td.icon span{
	display:block;
	width:24px;
	height:24px;
	overflow:hidden;
	margin-left:8px;
	background:url(anniu.png);
}
.pages{
	width: 100%;
	height:28px;
	overflow:auto; /*解决火狐中高不可以自动增长的问题，加这一句即可*/
	margin: 3px 10px 3px 10px;
	padding:1px;
	text-align:center;
	line-height:22px;
}
.pages a{
	padding:5px 10px;
	margin:0 5px 0 5px;
	background-color:#d2d2d2;
	text-decoration:none;
	color:#fff;
}
.pages span{
	padding:0 3px 0 3px;
	margin:0 3px 0 3px;
	text-indent:4px;
}

.xintop{height: 80px;background: url(topbg.png);margin: 10px;}

.xinleft{width: 254px;
background: #3d517e;
font-size: 16px;
float: left;
height: 100%;
min-height: 400px;
border: 3px solid #d1dae7;
margin: 0 10px 10px 10px;
overflow-x: hidden;
table-layout: fixed;
word-wrap: break-word;
word-break: break-all;}

.xinright{overflow-y: auto;
font-size: 12px;
font-family: "宋体";
padding: 8px;
background: #cfd9e8;}